/* css code */

.wrapper
{
    height: 600px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.box{
    /* height: 100px; */
    width: 100px;
    border: 1px solid black;
    background-color: cyan;
}

#box2
{
    order: 2;
    flex-shrink: 1;
}
#box3{
    order: 3;
}