h1{
    text-shadow: 2px 2px red, 3px 3px green;
}

.box
{
    height: 200px;
    width: 200px;
    margin: 20px;
    color: red;
    /* when you didnt provide the colour it automatically take the text color */
    box-shadow: 10px 10px;
}