.wrapper
{
    height: 1000px;
    background-color: yellow;
}

.box
{
    height: 100px;
    width: 100px;
    background-color: cyan;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    /* default property for the div */
    position:static; 
}

#box2{
    position: relative;
    top: 100px;
}

#box3{
    position: fixed;
    right: 0;
}

#box4{
    position: sticky;
    top: 0; /* it fixed to the display */
}

#box5{
    position: absolute; /*when you move item independenlty */
    top: 100px;
    left: 200px;
    background-color: orange;
}